body {
    width: auto;
    height: 100vh;
    background-image: url(sky.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    background-attachment: fixed;
}
.background {
    position: absolute;
    
}
h1 {
    font-family: 'Lato';
    color: white;
    margin: 0 auto;
    text-align: center;
    padding-top: 2em;
    font-size: 3.5em;
    padding-bottom: 2em;
}

.container {
    width: 50%;
    margin: 0 auto;
    height: auto;
    font-family: 'Lato';
    color: #4A4A4A;
    font-size: 1.5em;
    background-color:#FFF;
    padding-left: 2em;
    padding-right: 2em;
    border-radius: 4px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16);
    border: 1px solid #F2F2F2;
    opacity: 0.96;
    margin-bottom: 4em;
    
}
span {
    text-transform: uppercase;
    font-weight: 600;
    
    
}
form {
    width: 60%;
    margin: 0 auto;
    font-family: 'Lato';
    
}

input {
    width: 89%;
    padding: 5%;
    font-family: 'Lato';
    font-size: 18px;
    border-radius: 0;
    border-color: #F2F2F2;
    border: 2px solid #F2F2F2;
}

.mc-field-group {
    display: inline-block;
    float: left;
    width: 100%;
    
}

.clear {
    
}
.button {
    margin-top: 0.5em;
    margin-bottom: 1em;
    color: white;
    background: #56B68B;
    border: 2px solid white;
   width: 100%;
    padding: 5%;
    
}

article {
    font-family: 'Lato';
    padding-left: 5%;
    padding-right: 5%;

}

section {
    display: block;
    width: 33.3333333%;
    float: left;
    color: #4A4A4A;
    border-radius: 3px;
    margin-bottom: 2em;
    
}

section p {
    padding-left: 5%;
    padding-right: 5%;
    height: 18em;
    font-size: 1.3em;
    background: white;
    color: #4A4A4A;
    margin: 0;
    margin-right: 5%;
    line-height: 1.4em;
    padding-top: 5%;
    font-weight: 300;
    text-align: center;
    padding-top: 0;
}
#kickstart {
    position: fixed;
    top: 15px;
    right: 15px;
    width: 12em;
}

hr {
    margin-top: 2em;
    width: 3em;
    border: 2px solid #F2F2F2;
}

section h1 {
    font-size: 2em;
    background: white;
    color: darkgray;
    margin: 0;
    margin-right: 5%;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    font-weight:  300;
}

.product-image {
    width: auto;
    height: 20em;
    margin: 0 auto;
    background-color: white;
    background-image: url(media/TTN-gateway.png);
    background-size: 10em;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-right: 5%;
}

#product2 {
    background-image: url(media/TTN-Arduino.png);
    background-size: 12em;
}

#product3 {
    background-image: url(media/TTN-note-key.png);
    background-size: 16em;
}

section h3 {
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 1.6em;
    height: 7em;
    background: white;
    margin: 0;
    margin-right: 5%;
    font-weight: 400;
}



section h3:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    text-align: center;
    height: auto;
    padding-bottom: 1em;
    
}

section h3:last-child hr {
    margin-top: 0;
    margin-bottom: 1em;
    border-color: #F2F2F2;
    
}

#last-product-section p {
    margin-right: 0;
}

#last-product-section h1 {
    margin-right: 0;
    
}

#last-product-section .product-image {
    margin-right: 0;
}

#last-product-section h3 {
    margin-right: 0;
}

@media screen and (max-width: 700px) {
    article {
        padding-top: 2em;
    }
    
    
    section {
        width: 100%;
        margin-bottom: 2em;
    }
    
    section p {
        margin-right: 0;
        height: auto;
        padding-top: 1em;
        padding-bottom: 1em;
    }
    
    section h1 {
        margin-right: 0;
    }
    
    section h3 {
        margin-right: 0;
        padding-top: 1em;
        padding-bottom: 1em;
    }
    
    section h3:last-child {
        height: auto;
    }
    
    .product-image {
        margin-right: 0;
    }
    
    .container {
        width: 90%;
        padding: 0;
    }
    
    .container p {
        font-weight: 300;
        padding: 5%;
    }
    
    #kickstart {
        width: 5em;
        
        
    }
}
