<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>The Things Network</title>
        <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
        <link href="style.css" rel='stylesheet' type='text/css'>
    </head>
    <body>
        <header>Hallo</header>
        
        <div class="kickstarter">
        <h1>We are launching a Kickstarter-campaign!</h1>
            <p>We want to see as many cities as possible connected to The Things Network as possible to eventually cover the whole world! To achieve this we are launching a Kickstarter campaign where we are selling 3 products: The Things Node, The Things Uno & The Things Gateway. Take a look at the three pledges and it's specifications. Wanna now how many people you can reach with a Gateway? Scroll down, fill in an address and find out!</p><div class="arrow"></div>
        </div>
        
        <div class="images">
            <img src="{% static 'ttn/media/impact/gateway_white.png' %}">
        </div>

    
        <div class="white">
        <article>
            <h1>How many people will you reach?</h1>
                <p>Do you wanna know how many people can be connected to TheThingsNetwork if you back our Kickstarter and pledge for a <b>TTN Gateway?</b> Fill in your city and find out how many people you will reach with your Gateway.</p>
        <form>
            <input type="text" placeholder="Fill in your address, for example: Herengracht, Amsterdam">
            <button>TODO CLICKEVENT Show my reach!</a></button>
        </form> </article>
        </div>
        <div class="map">
            <div class="reach">
                <p>For €200.- you will reach:</p>
                <p>20.490</p>
                <p>people in Amsterdam.</p>
            </div>
        </div>

    <div class="bottom-area">
        <h1>Reach these people!</h1>
        <p>Do you want to place a Gateway here? Awesome! Commit and add yourself to the map so people can see that you are helping!</p>
        <a href="{% url 'ttn:kickstarter' %}">Commit</a>
        <img src="{% static 'ttn/media/impact/down2.png' %}">
        <p>Let the world know that you are joining The Things Network and show them how many people you are reaching for €200!</p>
        <div class="share">
            <a href="TODO FACEBOOK SHARE">Post on Facebook</a>
            <a href="TODO TWITTER SHARE">Share it on Twitter</a>
        </div>
        <img src="{% static 'ttn/media/impact/down2.png' %}">
        <p>Ready to support us and really buy a Gateway? Pledge for a Gateway at our Kickstarter!</p>
        <a href="{% url 'ttn:kickstarter' %}">Pledge</a>
        </div>
    </body>
</html>
