{% load staticfiles markup jsonify %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="description">
        <meta name="keywords" content="iot, internet of things, things network">
        <meta property="og:url" content="http://thethingsnetwork.org{% url 'ttn:impact' %}">
        <!-- meta property="og:url" content="{% url 'ttn:kickstarter' %}" -->
        <meta property="og:image" content="http://thethingsnetwork.org{% static 'ttn/media/impact/popping_network.gif' %}">
        <meta property="og:title" content="Unleashing the Internet of Things">
        <meta property="og:description" content="I am placing a The Things Network Gateway!">
        <meta property="og:site_name" content="The Things Network">

        <title>The Things Network</title>
        <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
        <link href="{% static 'ttn/css/bootstrap.css' %}" rel='stylesheet' type='text/css'>
        <link href="{% static 'ttn/css/impact.css' %}" rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">

<script src="{% static 'ttn/js/jquery-2.1.3.js' %}"></script>
<script src="{% static 'ttn/js/bootstrap.js' %}"></script>
<script src="{% static 'ttn/js/ga.js' %}"></script>
<script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script src="{% static 'ttn/js/map.js' %}"></script>
<script src="{% static 'ttn/js/maplabel.js' %}"></script>
<script>
    var map;
    function initialize() {
      var mapCanvas = document.getElementById('map-inline');
      var mapOptions = {
        center: new google.maps.LatLng(
              {{ community.lat|default:'24.5403' }},
              {{ community.lon|default:'-0.5463' }}),
        zoom: {{ community.scale|default:2 }},
        scrollwheel: false,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      }
      map = new google.maps.Map(mapCanvas, mapOptions);
    }
    google.maps.event.addDomListener(window, 'load', initialize);

    $(document).ready(function() {
        initLookup();

        $('.input-address').keypress(function (e) {
            if (e.which == 13)
                $('.button-impact').click();
        });

        $('.ks-url').click(function (e) {
            var url = "{% url 'ttn:kickstarter' %}";
            window.open_tracked(url, '_blank', 'impact_to_kickstarter');
        });

        var reach = "thousands of";
        var fb_message = "I am placing a The Things Network Gateway and impacting {REACH} people! @thethingsnetwork";
        var twtr_message = "I am placing a The Things Network Gateway and impacting {REACH} people! @thethingsntwrk http://thethingsnetwork.org/landing/kickstarter";
        $('.fb-share').on('click', function() {
            var url = "https://www.facebook.com/sharer/sharer.php?p[summary]=" + fb_message + "&p[title]=TheThingsNetwork&s=100&p[url]=thethingsnetwork.org{% url 'ttn:impact' %}";
            url = url.replace('{REACH}', reach);
            window.open_tracked(url, '_blank', 'impact_share', 'facebook');
        });
        $('.tw-share').on('click', function() {
            var url = "https://twitter.com/home?status=" + twtr_message + "&via=thethingsntwrk";
            url = url.replace('{REACH}', reach);
            window.open_tracked(url, '_blank', 'impact_share', 'twitter');
        });

        $('.button-commit').on('click', function(elem) {
            elem.preventDefault();
            var dataString = $('.commit-form').serialize();
            $.ajax({
                url: "{% url 'ttn:impact-commitgw' %}",
                type: "POST",
                data: dataString,
                success: function(result) {
                    result = JSON.parse(result);
                    if (result.error) {
                        alert("Sorry, an error occurred while submitting the commitment. Did you fill in your location, name and email already?");
                    } else {
                        window.track_event('impact_committed', dataString);
                        $('.commit-form').hide();
                        $('.commit-form-title').hide();
                        $('.commit-submitted').show();
                    }
                }
            });
        });

        $('.button-impact').on('click', function(elem) {
            $('.error-line').slideUp();
            var address = $('.input-address').val();
            window.track_event('impact_search', address);
            var position = addressLookup(address, function(error, position) {
                if (error) {
                    $('.error-address').slideDown();
                } else {
                    console.log("POSITION", position);
                    map.panTo(position);
                    map.setZoom(12);
                    draw_marker(map, position, "Your gateway");
                    var range = 3000;
                    var gw = {
                        lat: position.lat(),
                        lon: position.lng(),
                        rng: range,
                        status: 'PL',
                    };
                    console.log("ABOUT TO DRAW", gw);
                    draw_gateway(map, gw);
                    get_impact('{% url "ttn:impact-calc" %}',
                               position.lat(), position.lng(), range / 1000,
                               function (impact) {
                        var line;
                        console.log("IMPACT", impact);
                        if (impact.error) {
                            draw_label(map, position, "Error: " + impact.error, 15);
                        } else {
                            reach = Math.round(impact.population).toLocaleString(); // global var
                            window.track_event('impact_search_found', 'reach='+reach);
                            $('#commit-lat').val(position.lat());
                            $('#commit-lng').val(position.lng());
                            $('#commit-rng').val(range);
                            $('#commit-impact').val(Math.round(impact.population));
                            line1 = new google.maps.LatLng(position.lat() + 0.003, position.lng());
                            line2 = new google.maps.LatLng(position.lat() - 0.009, position.lng());
                            line3 = new google.maps.LatLng(position.lat() - 0.015, position.lng());
                            draw_label(map, line1, reach, 50);
                            draw_label(map, line2, "people live", 25);
                            draw_label(map, line3, "in this area", 25);
                        }
                    });
                }
            });
        });
    });
</script>

    </head>
    <body>
        <header><img src="{% static 'ttn/media/impact/ttn_round.png' %}"></header>

        <div class="kickstarter">
        <h1>How many people live in the area you will impact by contributing to The Things Network?</h1>
            <p>By purchasing and placing a The Things Gateway you will provide the world with internet of things data connectivity abundance. Check below how big the area is you will impact. &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            <img src="{% static 'ttn/media/impact/popping_network.gif' %}">
            </p><div class="arrow"></div>
        </div>

        <div class="images">
            <img src="{% static 'ttn/media/impact/gateway_white.png' %}">
        </div>

    
        <div class="white">
        <article>
            <h1>How big is the area you will impact?</h1>
            <p>Fill in your address below and see the area and the amount of people you will cover with your device.</p>
            <p>&nbsp;</p>

            <div class="impact-form">
                <input class="input-address" type="text" name="location" placeholder="Fill in your address, for example: Herengracht, Amsterdam">
                <button class="button-impact">Show my reach! *</button>
                <div class="error-line error-address" style="display:none;">
                    Sorry, can't find your address! Try again?
                </div>
            </div>
        </article></div>

        <div id="map-inline">
        </div>

        <div class="impact-footnote">
            * Reach estimated with <a href="http://sedac.ciesin.columbia.edu/data/set/gpw-v3-population-density" target="_blank">population density data</a> from <strong>NASA</strong> and <strong>Columbia University</strong>. A conservative range of 3km (1.9mi) is taken (we measured 10-15km in urban Dutch areas).
        </div>

    <div class="bottom-area">
        <h1>This is your impact</h1>
        <p>Do you want to place a Gateway here? Awesome! Commit and add yourself to the map so people can see that you are helping!</p>
        <div class="btn-container">
            <button type="button" class="btn btn-info btn-lg commit-btn" data-toggle="modal" data-target="#myModal">
                <span class="lnr lnr-map-marker"></span>
                Commit to place a gateway here
            </button>
        </div>
        <img src="{% static 'ttn/media/impact/down2.png' %}">
        <p>Let the world know that you are joining The Things Network</p>
        <div class="share">
            <button type="button" class="btn btn-info btn-lg fb-share"><img src="{% static 'ttn/media/impact/fb.png' %}">Post on Facebook</button>
            <button type="button" class="btn btn-info btn-lg tw-share"><img src="{% static 'ttn/media/impact/tw.png' %}">Share it on Twitter</button>
        </div>
        <img src="{% static 'ttn/media/impact/down2.png' %}">
        <p>You are now ready to pledge for a The Things Gateway at our Kickstarter!</p>
        <div class="pledge-container">
            <a href="#" class="ks-url">
                <img src="{% static 'ttn/media/impact/kickstarter_logo.png' %}" class="ks">
                <span class="ks-text">Pledge at Kickstarter</span>
            </a>
        </div>
        </div>


  <!-- Commit Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">×</button>
          <h4 class="modal-title">Commit to place a gateway here.</h4>
        </div>
        <div class="modal-body">
            <div class="commit-form-title">
                <!-- TODO: img of location? -->
                Fill in your email and you will be shown on the map as the one who is committing to to this specific spot!
            </div>
            <div class="commit-submitted" style="display:none;">
                Thanks for committing to buy a gateway!<br><br>

                We'll publish a map featuring all pledges as soon as possible!
            </div>
        </div>

        <div class="modal-footer">
            <form class="commit-form">
                <div class="mc-field-group">
                    {% csrf_token %}
                    <input type="hidden" value="" id="commit-lat" name="lat">
                    <input type="hidden" value="" id="commit-lng" name="lon">
                    <input type="hidden" value="" id="commit-rng" name="rng">
                    <input type="hidden" value="" id="commit-impact" name="impact">
                    <input type="text" value="" id="commit-name" name="name" class="required email" placeholder="Your name" aria-required="true">
                    <input type="email" value="" id="commit-email" name="email" class="required email" placeholder="Your email address" aria-required="true">
                </div>
                <div class="clear">
                <input type="submit" value="Commit" name="subscribe" class="button button-commit"></div>
                </div>
            </form>

        </div>
      </div>

    </div>
  </div>

    </body>
</html>
