{% extends "ttn/community/base_small.html" %}
{% load staticfiles markup jsonify %}

{% block extra_css %}
<link href="{% static 'ttn/css/impact.css' %}" rel='stylesheet' type='text/css'>
{% endblock %}

{% block extra_js %}
<script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script src="{% static 'ttn/js/map.js' %}"></script>
<script>
    var map;
    function initialize() {
      var mapCanvas = document.getElementById('map-inline');
      var mapOptions = {
        center: new google.maps.LatLng(
              {{ community.lat|default:'24.5403' }},
              {{ community.lon|default:'-0.5463' }}),
        zoom: {{ community.scale|default:2 }},
        scrollwheel: false,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      }
      map = new google.maps.Map(mapCanvas, mapOptions);
    }
    google.maps.event.addDomListener(window, 'load', initialize);

    $(document).ready(function() {
        initLookup();

        $('.input-address').keypress(function (e) {
            if (e.which == 13)
                $('.button-impact').click();
        });

        $('.button-impact').on('click', function(elem) {
            $('.error-line').slideUp();
            var address = $('.input-address').val();
            var position = addressLookup(address, function(error, position) {
                if (error) {
                    $('.error-address').slideDown();
                } else {
                    console.log("POSITION", position);
                    map.panTo(position);
                    map.setZoom(12);
                    draw_marker(map, position, "Your gateway");
                    var range = 5000;
                    var gw = {
                        lat: position.H,
                        lon: position.L,
                        rng: range,
                        status: 'PL',
                    };
                    draw_gateway(map, gw);
                }
            });
        });
    });
</script>
{% endblock %}


{% block author %}
    <h2 class="initiator-name"></h2>
{% endblock %}


{% block content %}

            <!-- h1>Contact {{ community.leaders.first.first_name }} {{ community.leaders.first.last_name }}, initiator of {{ community.title }}.</h1 -->
            
            <div class="page-content">
                <br>
                <h1>How many people will you reach?</h1>
                Curious how many people can be connected to TheThingsNetwork if you back our Kickstarter and pledge for a TTN Gateway? Fill in your city and find out how much of an impact you can make!
            </div>

            <div id="map-inline">Loading map..</div>

            <div class="impact-form">
                <div class="error-line error-address" style="display:none;">
                    Sorry, can't find your address! Try again?
                </div>
                <input class="input-address" type="text" name="location" placeholder="Fill in your city, for example: Amsterdam"></input>
                <button class="button-impact">Show my impact!</button>
            </div>

            <p>&nbsp;</p>

{% endblock %}

