{% load staticfiles %}
<!DOCTYPE html>
<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>TheThings Kickstarter</title>
  <link rel="stylesheet" href="{% static 'ttn/css/kickstarter.css' %}" type="text/css">
     <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
 </head>
 <body>
     <div class="background"></div>
  <h1>The Things Gateway</h1>

      <img src="{% static 'ttn/media/kickstarter badge.png' %}" id="kickstart">





     <div class="container">
     <h2></h2>
     <p>The Things Gateway is a gateway which is easy to use and install, is low cost and will allow you to contribute to the network from your home. The range is around 4 miles and perfect for citizens to create their smart city.</p>

     <p>All designs and code will be open sourced so anybody will be able to make its own gateway.</p>
     <p>We will launch the campaign early October. Find below all the products that are going to be included</p>
     <p> Leave your email address below if you want to be the first to know when we launch.</p>

         <!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
<form action="//thethingsnetwork.us11.list-manage.com/subscribe/post?u=20406705fec6d7d4b2ab1d6cc&amp;id=449880afd9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
<div class="mc-field-group">
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email address">
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_20406705fec6d7d4b2ab1d6cc_449880afd9" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Keep me posted!" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->



     </div>

     <article>
     <section>
         <h1>The Things Gateway</h1>
         <div class="product-image"></div>
            <h3>The first open source LoRa WAN gateway. Cover an area up to 10km straight from your home.<hr></h3>
         <p><span>Specifications</span></br></br>LoRa WAN compatible</br>
            Range: Up to 10 kilometers</br>
            WiFi (https) or ethernet</br>
            GPS inside for ranging</br>
            Linux operating system</br>
            Open hardware
         </p>
<h3><hr>Price: 200 USD</h3>

    </section>


    <section>
         <h1>The Things Uno</h1>
        <div class="product-image" id="product2"></div>
            <h3>The same Arduino UNO everyone uses but now with build in LoRa WAN compatibility.<hr></h3>
        <p><span>Specifications</span></br></br>LoRa WAN compatible</br>
                    Range: Up to 10 kilometers</br>
                    Arduino IDE compatible</br>
                    Arduino UNO shield compatible</br>
                    LoRa WAN library for easy use</br>
                    Open hardware
                </p>
                <h3><hr>Price: 40 USD</h3>
    </section>


    <section id="last-product-section">
         <h1>The Things Node</h1>
            <div class="product-image" id="product3"></div>
            <h3>Ready made node to test all your usecases without fiddeling around with hardware<hr></h3>
        <p><span>Specifications</span></br></br>LoRa WAN compatible</br>
                    Range: Up to 10 kilometers</br>
                    Temperature sensor</br>
                    Movement sensor</br>
                    Light sensor</br>
                    RGB LED</br>
                    BUtton</br>
                    3x AAA battery</br>
                    Waterproof casing</br>
                    Easy to configure over LoRa WAN</br>
                    Open hardware
                </p>
                <h3><hr>Price: 60 USD</h3>

    </section>




     </article>

<table>

</table>

 </body>
 <script src="{% static 'ttn/js/ga.js' %}"></script>
</html>
