{% load staticfiles %}
<div class="modal fade" id="usersModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{% if title %}{{ title }}{% else %}People{% endif %}</h4>
            </div>

            <div class="modal-body">
                {% for user in users %}
                <div class="user-block">
                    <img class="user-img" alt="{{ user.first_name }} {{ user.last_name }}" title="{{ user.first_name }} {{ user.last_name }}"
                     src="{% if user.ttnuser.image_thumb_url %}{{ user.ttnuser.image_thumb_url }}{% else %}{% static 'ttn/media/team/newmember.png' %}{% endif %}">
                     {{ user.ttnuser.tagline }}
                 </div>
                {% endfor %}
            </div>

            <div class="modal-footer">
            </div>

        </div>
    </div>
</div>
