{% extends "ttn/community/base_small.html" %}
{% load staticfiles markup jsonify %}

{% block content %}

        <article class="intro">
            <h1>Login</h1>

            <div class="page-content">

                <div class="container">

                {% if form.errors %}
                <p class="error">Your username and password didn't match. Please try again.</p>
                {% endif %}

                {% if next %}
                    {% if user.is_authenticated %}
                        <p>Your account doesn't have access to this page. To proceed,
                        please login with an account that has access.</p>
                    {% else %}
                        <p>Please login to see this page.</p>
                    {% endif %}
                {% endif %}

                    <form action="" method="post">
                        {% csrf_token %}

                        {{ form }}

                        <input type="submit" value="Login">
                    </form>

                    <a class="box" href="{% url 'signup' %}">No account? Sign up</a>
                </div>
            </div>
{% endblock %}
