{% extends "ttn/community/base_small.html" %}
{% load staticfiles markup jsonify %}

{% block content %}

        <article class="intro">
            <h1>Reset your password</h1>

            <div class="page-content">

                <div class="container">

                {% for error in errors %}
                <p class="error">{{ error }}</p>
                {% endfor %}

                    <form action="" method="post">
                        {% csrf_token %}

                        {{ form }}

                        <input type="submit" value="Send reset link">

                    </form>
                </div>
            </div>
{% endblock %}
