{% extends "ttn/community/base.html" %}
{% load staticfiles markup %}

{% block author %}
    <h2 class="initiator-name">Contact {{ community.leaders.first.first_name }} {{ community.leaders.first.last_name }}, initiator of {{ community.title }}.</h2>
{% endblock %}


{% block content %}

        <article class="intro">
            <!-- h1>Contact {{ community.leaders.first.first_name }} {{ community.leaders.first.last_name }}, initiator of {{ community.title }}.</h1 -->
            
            <div class="page-content">
                {% if community.contact %}
                <p>{{ community.contact|markdown }}</p>
                {% else %}
                {# this might piss people off #}
                <p>Email: {{ community.leaders.first.email }}</p>
                {% endif %}
            </div>

            <a href="{% url 'ttn:community' slug=community.slug %}">
                Back to {{ community.title }}
            </a>

            <p>&nbsp;</p>
        </article>

{% endblock %}
