{% extends "ttn/community/base_small.html" %}
{% load staticfiles markup %}

{% block author %}
    <h2 class="initiator-name">{{ p.author.first_name }} {{ p.author.last_name }}</h2>
{% endblock %}


{% block content %}

        <article class="intro">
            <h1>{{ post.title }}</h1>
            <div class="page-content">
                {{ post.description|markdown }}
            </div>

            {% if post.image_url %}
            <div class="container">
                <img src="{{ post.image_url }}" style="max-width:100%;">
            </div>
            <p>&nbsp;</p>
            {% endif %}

            <a href="{% url 'ttn:community' slug=community.slug %}">
                Back to {{ community.title }}
            </a>
            {% if 'admin' in permissions %}
            <a href="{% url 'ttn:community-post-edit' slug=community.slug pk=post.pk %}">
                Edit post
            </a>
            {% endif %}

            <p>&nbsp;</p>
        </article>

{% endblock %}
