{% extends "ttn/community/base.html" %}
{% load staticfiles markup %}

{% block author %}
    <h2 class="initiator-name">{{ p.author.first_name }} {{ p.author.last_name }}</h2>
{% endblock %}


{% block content %}

        <article class="intro">
            <h1>{{ post.title }}</h1>
            <div class="page-content">
                {{ post.description|markdown }}
            </div>

            <a href="{% url 'ttn:community' slug=post.community.slug %}">
                Back to {{ post.community.title }}
            </a>

            <p>&nbsp;</p>
        </article>

{% endblock %}
