{% extends "ttn/community/base_small.html" %}
{% load staticfiles markup %}

{% block author %}
    <h2 class="initiator-name">{{ p.author.first_name }} {{ p.author.last_name }}</h2>
{% endblock %}


{% block content %}

        <article class="intro">
            <div class="page-content">
                <h1>Write an update.</h1>

                <div class="container">
                    <form action="" method="post">
                        {% csrf_token %}

                        {{ form }}

                        <!-- TODO: nice wysiwyg (markdown) editor -->

                        <input type="submit" value="Save update">
                    </form>
                </div>
            </div>

            <a href="{% url 'ttn:community' slug=community.slug %}">
                Back to {{ community.title }}
            </a>

            <p>&nbsp;</p>
        </article>

{% endblock %}
