{% extends "ttn/community/base.html" %}
{% load staticfiles %}

{% block author %}
    <h2 class="initiator-name">Start your own The Things Network community</h2>
{% endblock %}


{% block content %}

        <article class="intro">
            <h1>Thanks for your submission!</h1>

            <div class="page-content">
                <p>We'll get in contact as soon as possible.</p>

                <p>Meanwhile, try gathering people ready to build the network.</p>
                <p>
                    Have a look at our technical <br>
                    <a href="http://thethingsnetwork.org/wiki/GettingStarted" target="_blank">Getting Started</a><br>
                    guide, and order one of the gateways mentioned there.
                </p>

                <p>&nbsp;</p>
                <p>We're looking forward bringing The Things Network glocal with you!</p>
                <p class="quote-author">The Things Network Global team</p>

            </div>

        </article>

{% endblock %}

