* {
    font-family: 'Lato';
    box-sizing: border-box;
    color: #5E5B5B;
}

body {
    background-color: #F2F2F2;
    margin: 0;
}

header {
    height: 30em;
    background-image: url(../media/impact/header.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-around;
}

header>img {
    height: 20em;
    width: 20em;
    align-self: center;
}

.arrow {
    height: 5em;
    background-image: url(../media/impact/down2.png);
    background-size: 5%;
    background-repeat: no-repeat;
    background-position: center;
}

#map-inline {
    height: 400px;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

/*
.map {
    width: 100%;
    height: 28em;
    background-image: url(amsterdam-map.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    float: left;
}
*/

.reach {
    height: 25em;
    width: 25em;
    margin: auto;
    background-color: rgba(74,144,226, 0.98);
    border-radius: 50%;
    margin-top: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.reach p {
    text-align: center;
    width: inherit;
    color: white;
    font-size: 1.5em;
    font-weight: 300;
    margin: 0;
}

.reach>p:nth-child(2) {
    font-size: 6.5em;
    font-weight: 600;
}


.white {
    background-color: #F2F2F2;
    padding-bottom: 2em;
    padding-top: 2em;
    float: left;
    width: 100%;
}

.kickstarter {
    float: left;
    width: 100%;
    height: 24em;
}

.kickstarter img {
    max-width: 40em;
    margin-top: 2em;
    display: flex;
    justify-content: space-around;
}

.kickstarter p {
    padding-bottom: 1em;
    margin-bottom: 1em;
}

form {
    text-align: center;
    margin-bottom: 2em;
    float: left;
    width: 100%;
    margin-top: 2em;
}

.kickstarter {
    margin: auto;
    margin-bottom: 30em;
    float: left;
    width: 100%;
    text-align: center;
    padding-top: 2em;
    height: 32em;
}

.kickstarter h1 {
    margin-bottom: 1em;
}

h1:first-of-type {
}

.button {
    padding: 2em;
    border: 2px solid #5E5B5B;
    text-decoration: none;
    text-transform: uppercase;
}

.button-impact {
    color: white;
}

.impact-form {
    max-width: 90%;
    margin: 0px auto;
}

.impact-footnote {
    font-size: 1.1em;
    font-weight: 300;
    color: #555;
    font-style: italic;
    text-align: center;
}

article {
    text-align: center;
    margin-bottom: 1em;
    
}

h1 {
    font-weight: 400;
    font-size: 2.5em;
}

p {
    margin: auto;
    width: 40em;
    line-height: 170%;
    font-size: 1.3em;
    font-weight: 300;
}

input {
    height: 60px;
    vertical-align: top;
    width: 50%;
    font-size: 1.5em;
    border: 2px solid #5E5B5B; 
    padding-left: 0.5em;
    font-weight: 300;
    color: #5E5B5B;
}

@media screen and (max-width: 699px) {
    input {
        width: 90%;
    }

    .button-impact {
        width: 90%;
    }

    p {
        width: 90%;
    }

    .kickstarter img {
        width: 100%;
    }

}

article button {
    height: 60px;
    width: 12em;
    border: none;
    background-color: #1ECE6D;
    font-size: 1.5em;
    transition: 0.2s ease-in-out;

}

button>a {
    color: white;
    text-decoration: none;
    padding: 2.2em;
}

article button:hover {
    background-color: #32CD32;
}

.images {
    display: flex;
    float: left;
    width: 100%;
    justify-content: space-around;
     background-color: white;
}

.images img {
    width: 50%;
    height: 1%;
}

.bottom-area {
    height: auto;
    margin-bottom: 2em;
    width: 100%;
    float: left;
}

.bottom-area>p {
    padding-bottom: 2em;
    padding-top: 3em;
    text-align: center;
}

.bottom-area>p:first-of-type {
    padding-top: 0;
}

.bottom-area button {
    margin: auto;
    display: block;
    height: 4em;
    padding-top: 26px;
    text-decoration: none;
    border: 2px solid #5E5B5B;
    font-size: 1.5em;
    background:#5E5B5B;
    color: white;
    border-radius: 0px;
}

.bottom-area a {
    display: flex;
    flex-grow: 1;
    margin: auto;
    max-width: 20em;
    height: 4em;
    padding-top: 26px;
    text-decoration: none;
    border: 2px solid #5E5B5B;
    font-size: 1.5em;
    background:#5E5B5B;
    color: white;
    border-radius: 0px;
}
.bottom-area>button:first-of-type:hover {
    background: #5E5B5B;
    opacity: 0.8;
    border-color: #5E5B5B;
}

.bottom-area>h1 {
    text-align: center;
    padding-top: 1em;
}

.share {
    display: flex;
    flex-wrap: wrap;
    max-width: 52em;
    margin: auto;
}

.share>button{
    flex-grow: 1;
    margin: 10px;
    background: #3B5998;
    color: white;
    border-color: #3B5998;
    text-align: center;
}

.share>button:nth-of-type(2) {
    background: #55acee;
    color: white;
    border-color: #55acee;
    text-align: center;
}

.share>button:hover {
    background: #3B5998;
    opacity: 0.8;
    border-color: #3B5998;
}

.share>button:nth-of-type(2):hover {
    background: #55acee;
    opacity: 0.8;
    border-color: #55acee;
}

.bottom-area input {
    float: left;
    width: 1em;
    margin-top: -0.4em;
    margin-left: 0.5em;
}

button img {
    float: left;
    height: 2em;
    margin-left: 1em;
    margin-top: -0.3em;
}

.bottom-area a:last-of-type {
    background: #2BDE73;
    color: white;
    border-color: #2ECC71;
    margin-bottom: 3em;
    text-align: center;
}

.ks {
    height: 2em;
    float: left;
    margin-left: 2em;
    margin-right: -2em;
    margin-top: -0.3em;
}

.ks-text {
    margin-left: 80px;
    color: white;
}

.bottom-area>img {
    margin: auto;
    display: block;
    margin-top: 4em;
    width: 3em;
    opacity: 0.2;
}

.bottom-area a:hover {
    opacity: 0.8;
}

.lnr-map-marker {
    color: white;
    font-size: 25px;
}

.commit-btn {
    padding-top: 0px;
}

/* MODALS*/

.modal-body p {
    width: 100%;
}

.modal-title {
    font-size: 2em;
}

.modal img {
    width: 100%;
}

/* SIGNUP MAILCHIMP */

.commit-form input {
    width: 100%;
    margin: 5px 0px;
}
    
.commit-form .button {
    margin-top: 1em;
    padding: 0;
    font-weight: 400;
    background: #2ECC71;
    color: white;
    border: none;
}

.error-line {
    color: #f55;
    font-size: 2em;
}
