/* MENU
 * Source: http://www.jqueryscript.net/menu/Fullpage-Navigation-Menu-with-jQuery-CSS3-Fullscreen-Navbar.html
 */

nav,
.navbar-toggle-2 {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: block;
}

nav {
  position: fixed;
  z-index: 50;
  background-color: rgba(231,76,60, 0.95);
  width: 100%;
  height: 100%;
  text-align: center;
  display: table;
  color: white;
}

.nav-hide { display: none; }

nav ul {
  display: inline-block;
  vertical-align: middle;
  padding-left: 0 !important;
}

nav ul li { list-style: none; }

nav ul li a {
  font-size: 35pt;
  color: inherit;
  font-weight: bolder;
  text-decoration: none;
}


.navbar-toggle-2 {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 45px;
  height: 45px;
  z-index: 100;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 100%;
  height: 8px;
  margin-bottom: 5px;
  background-color: white; /* #1c1f72 */
  transition: all 0.3s ease-in-out;
}

.navbar-on .bar1,
.navbar-on .bar2,
.navbar-on .bar3 { background-color: white; }

.navbar-on .bar1 {
  transform-origin: 10% 40%;
  transform: rotate(45deg);
}

.navbar-on .bar3 {
  transform-origin: 10% 40%;
  transform: rotate(-45deg);
}

.navbar-on .bar2 { background-color: transparent; }

